In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta
%matplotlib notebook
import matplotlib.pyplot as plt
from matplotlib.dates import AutoDateLocator, DateFormatter
%config InlineBackend.figure_format = 'svg'

In [57]:
df1 = pd.read_csv("Predictions.csv")
df1 = df1.set_index(pd.to_datetime(df1['date']))
df1 = df1.drop(['date'], axis=1)
df1['date'] = df1.index.values
df1.head()

,Ticker,lia_ori,zscore_ori,zscore_new,lia_new,CDS,df_BB,rating,dp_stock,DD,rating_change,date
date,,,,,,,,,,,,
2010-04-07,AES,30982.98526,0.395430,0.395430,30982.98526,264,0.008314,13,0.0,128.025399,NaN,2010-04-07
2010-04-08,AES,30943.24654,0.395265,0.395265,30943.24654,265,0.008489,13,0.0,127.912540,0.0,2010-04-08
2010-04-09,AES,30904.37365,0.395111,0.395111,30904.37365,265,0.008487,13,0.0,127.927739,0.0,2010-04-09
2010-04-12,AES,30792.87847,0.394705,0.394705,30792.87847,258,0.008484,13,0.0,47.898676,0.0,2010-04-12
2010-04-13,AES,30757.39741,0.394589,0.394589,30757.39741,259,0.008551,13,0.0,38.069278,0.0,2010-04-13

In [58]:
df2 = pd.read_csv("Ori.csv")
df2 = df2.set_index(pd.to_datetime(df2['date']))
df2 = df2.drop(['date'], axis=1)
df2['date'] = df2.index.values
df2.head()

,Ticker,lia_ori,zscore_ori,zscore_new,lia_new,CDS,df_BB,rating,dp_stock,DD,rating_change,date
date,,,,,,,,,,,,
2010-04-07,AES,30982.98526,0.395430,0.395430,30982.98526,264,0.008314,13,0.0,128.025399,NaN,2010-04-07
2010-04-08,AES,30943.24654,0.395265,0.395265,30943.24654,265,0.008489,13,0.0,127.912540,0.0,2010-04-08
2010-04-09,AES,30904.37365,0.395111,0.395111,30904.37365,265,0.008487,13,0.0,127.927739,0.0,2010-04-09
2010-04-12,AES,30792.87847,0.394705,0.394705,30792.87847,258,0.008484,13,0.0,47.898676,0.0,2010-04-12
2010-04-13,AES,30757.39741,0.394589,0.394589,30757.39741,259,0.008551,13,0.0,38.069278,0.0,2010-04-13

In [66]:
df1= df1.dropna()
df2= df2.dropna()

In [67]:
change_direction

True

In [21]:
def f(row):
    if row['rating_change'] > 0:
        val = 1
    elif row['rating_change'] < 0:
        val = -1
    elif row['rating_change'] == 0:
        val = 0
    return val

In [68]:
df2['change_direction'] = df2.apply(f, axis=1)
df1['change_direction'] = df1.apply(f, axis=1)

D:\anacondasetup\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
-1 in list(df1['change_direction'])

True

In [71]:
df_pre = df1
df_ori = df2

In [72]:
df_ori.head()

,Ticker,lia_ori,zscore_ori,zscore_new,lia_new,CDS,df_BB,rating,dp_stock,DD,rating_change,date,change_direction
date,,,,,,,,,,,,,
2010-04-08,AES,30943.24654,0.395265,0.395265,30943.24654,265,0.008489,13,0.000000e+00,127.912540,0.0,2010-04-08,0
2010-04-09,AES,30904.37365,0.395111,0.395111,30904.37365,265,0.008487,13,0.000000e+00,127.927739,0.0,2010-04-09,0
2010-04-12,AES,30792.87847,0.394705,0.394705,30792.87847,258,0.008484,13,0.000000e+00,47.898676,0.0,2010-04-12,0
2010-04-13,AES,30757.39741,0.394589,0.394589,30757.39741,259,0.008551,13,0.000000e+00,38.069278,0.0,2010-04-13,0
2010-04-14,AES,30722.74642,0.394483,0.394483,30722.74642,255,0.008018,13,4.150000e-289,36.318342,0.0,2010-04-14,0

In [84]:
df01 = df_ori['20110101':'20130101']
df02 = df_ori['20120101':'20140101']
df03 = df_ori['20130101':'20150101']
df04 = df_ori['20140101':'20160101']
df05 = df_ori['20150101':'20170101']
df06 = df_ori['20160101':'20180101'] 
df07 = df_ori['20170101':'20190101']

In [86]:
df01 = df_ori['20110101':'20131231']
df02 = df_ori['20120101':'20141231']
df03 = df_ori['20130101':'20151231']
df04 = df_ori['20140101':'20161231']
df05 = df_ori['20150101':'20171231']

In [36]:
# df2 = df2.drop(['abn'], axis=1)
# df1 = df1.drop(['abn'], axis=1)

In [74]:
df_pre.to_csv("Pre_new.csv")
df_ori.to_csv("Ori_new.csv")

In [89]:
def find_abnormal(row):
    mean = np.mean(row)
    if row[-1] > 5*row[0]:
        return 1
    else :
        return 0

In [90]:
for df in (df01, df02, df03, df04, df05):
    universe = list(set(df.Ticker.values))  #########
    lenth = len(universe)
    abn = pd.DataFrame() 
    for ticker in universe:
        df01_ = df[df.Ticker == ticker]
        df01_['abn'] = df01_['dp_stock'].rolling(window='30D',min_periods = 1).apply(find_abnormal)
        abn = pd.concat([abn, df01_])  

    count = 0
    count_indicated_comp = 0
    for ticker in universe:
        df1 = abn[abn.Ticker == ticker] 
        if not df1[(df1.abn == 1) & (df1.date < df01.date[0] + timedelta(days=600))].empty:
            count_indicated_comp +=1
            index = df1[(df1.abn == 1) & (df1.date < df1.date[0] + timedelta(days=600))].index[0]
            df2 = df1[index:]
            if -1 in list(df2['change_direction']):
                count += 1      
        else:
            continue 

    print (count ,lenth, count_indicated_comp  , '\n')

D:\anacondasetup\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  import sys
D:\anacondasetup\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

68 213 202

58 215 180

0 218 0

0 218 0

0 218 0